<h1>E-Mail-Adresse ändern</h1>
<form method="POST" action="/admin/change_email">
  <p>Neue E-Mail:</p>
  <p><input type="text" name="email" size="20" value="<%= user.email %>" /></p>
  <p><input type="submit" value="Speichern" /></p>
  <input type="hidden" name="id" value="<%= user.id %>" />
</form>
