<h1>Nutzer erstellen</h1>
<form method="POST" action="/admin/create_user">
  <p>E-Mail:</p>
  <p><input type="text" name="email" size="20" /></p>
  <p>Passwort:</p>
  <p><input type="text" name="password" size="20" /></p>
  <p><input type="submit" value="Speichern" /></p>
</form>
