<h1>Passwort ändern</h1>
<form method="POST" action="/admin/change_password">
  <p>Neues Passwort:</p>
  <p><input type="text" name="password" size="20" /></p>
  <p><input type="submit" value="Speichern" /></p>
  <input type="hidden" name="id" value="<%= user.id %>" />
</form>
