<h1>Nutzer verwalten</h1>
<table>
  <% users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><a href="/admin/change_email/<%= user.id %>">E-Mail ändern</a></td>
      <td><a href="/admin/change_password/<%= user.id %>">Passwort ändern</a></td>
      <td><a href="/admin/delete/<%= user.id %>">Löschen</a></td>
      <td>
        <% if user.is_admin? %>
          Admin
        <% else %>
          Nutzer
        <% end %>
      <td>
      <% if user.password_confirmation_key %>
        Wünscht neues Passwort
      <% else %>
        -
      <% end %>
      </td>
      <td>
      <% if user.password_was_reset %>
        Passwort wurde zurückgesetzt
      <% else %>
        -
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
