<h1>Passwort ändern</h1>
<form method="POST" action="/change_password">
  <p>Neues Passwort:</p>
  <p><input type="password" name="password" size="20" /></p>
  <p>Passwort bestätigen:</p>
  <p><input type="password" name="password_confirmation" size="20" /></p>
  <p><input type="submit" value="Speichern" /></p>
</form>
