<h1>E-Mail-Adresse ändern</h1>
<form method="POST" action="/change_email">
  <p>Neue E-Mail:</p>
  <p><input type="text" name="email" size="20" /></p>
  <p><input type="submit" value="Speichern" /></p>
</form>
