<h1>E-Mail-Adresse bestätigen</h1>
<p>Hallo,</p>
<p>bitte bestätigen Sie Ihre E-Mail-Adresse mit einem Klick auf den folgenden Link:</p>
<p><a href="/confirm_email/<%= user.email_confirmation_key %>" target="_blank">E-Mail bestätigen</a></p>
<p>Der Link ist ab Anmeldung 30 Minuten gültig.</p>
