<h1>Willkommen</h1>
<p>Eingeloggt als: <%= user.email %></p>
<p><a href="/change_email">E-Mail-Adresse ändern</a></p>
<p><a href="/change_password">Passwort ändern</a></p>
<% if user.is_admin? %>
  <p><a href="/admin">Administrationsbereich</a></p>
<% end %>
<p><a href="/logout">Logout</a></p>
