<html>
  <head>
    <title>Supergeile Seite</title>
  </head>
  <body>
    <% if flash[:info] %>
      <p style="color: green;"><%= flash[:info] %></p>
    <% end %>
    <% if flash[:error] %>
      <p style="color: red;"><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
