<h1>Login</h1>
<form method="POST" action="/login">
  <p>E-Mail:</p>
  <p><input type="text" name="email" size="20" /></p>
  <p>Password:</p>
  <p><input type="password" name="password" size="20" /></p>
  <p><input type="submit" value="Login" /></p>
</form>
<p><a href="/reset_password">Passwort vergessen?</a></p>
