<h1>Passwort zurücksetzen</h1>
<p>Hallo,</p>
<p>mit einem Klick auf den folgenden Link können Sie Ihr Passwort zurücksetzen:</p>
<p><a href="/reset_password/<%= user.password_confirmation_key %>">Passwort zurücksetzen</a></p>
<p>Der Link ist 30 Minuten lang gültig.</p>
