<h1>Passwort zurücksetzen</h1>
<form method="POST" action="/reset_password_final">
  <p>Neues Passwort:</p>
  <p><input type="password" name="password" size="20" /></p>
  <p>Passwort bestätigen:</p>
  <p><input type="password" name="password_confirmation" size="20" /></p>
  <p><input type="submit" value="Speichern" /></p>
  <input type="hidden" name="key" value="<%= user.password_confirmation_key %>" />
</form>
