<h1>Passwort zurücksetzen</h1>
<form method="POST" action="/reset_password">
  <p>E-Mail-Adressse eingeben:</p>
  <p><input type="text" name="email" size="20" /></p>
  <p><input type="submit" value="Abschicken" /></p>
</form>
